In [133]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [14]:
import pandas as pd
pd.DataFrame({"A":[1,2], "B":[3,4], "C":[5,6]}, index=[1,2])

   A  B  C
1  1  3  5
2  2  4  6

In [25]:
import pandas as pd
pd.DataFrame([[4,5,6], [7,8,9], [10,11,12]], index=range(0,3), columns=['a','b','c'])

    a   b   c
0   4   5   6
1   7   8   9
2  10  11  12

In [17]:
import pandas as pd
pd.DataFrame({"A":[1,2,3,4], "B":[5,6,7,8], "C":[9,10,11,12]}, index = [1,2,3,4])

   A  B   C
1  1  5   9
2  2  6  10
3  3  7  11
4  4  8  12

In [22]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object

In [35]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [173]:
def score():
    return np.random.randint(0, 100)

In [176]:
pd.DataFrame([[score() for i in range(4)] for i in range(10)], index=[id() for i in range(10)], columns=["국어","수학","영어","사회"])

       국어  수학  영어  사회
WDTEw   8  86  18  59
xXHxn  52  64  23  78
uRoVu  88  57  10  99
KMnaF  99  89  56  65
ZZrJp  55  87  81  57
uLWGG  53  84  12  28
URNiC  74  25  17  45
kcMVN  22  94  83  51
nsJCE  90  56  25  38
QMldy  43  14   9  23