In [13]:
import pandas as pd
pd.DataFrame({"A":[1,2], "B":[2,3]}, index=[1,2])

   A  B
1  1  2
2  2  3

In [14]:
import pandas as pd
pd.DataFrame({"A":[1,2], "B":[3,4], "C":[5,6]}, index=[1,2])

   A  B  C
1  1  3  5
2  2  4  6

In [25]:
import pandas as pd
pd.DataFrame([[4,5,6], [7,8,9], [10,11,12]], index=range(0,3), columns=['a','b','c'])

    a   b   c
0   4   5   6
1   7   8   9
2  10  11  12

In [17]:
import pandas as pd
pd.DataFrame({"A":[1,2,3,4], "B":[5,6,7,8], "C":[9,10,11,12]}, index = [1,2,3,4])

   A  B   C
1  1  5   9
2  2  6  10
3  3  7  11
4  4  8  12

In [22]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object